body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}
.logo-1 {
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
}
.logo-2 {
  font-family: "Raleway", sans-serif;
  color: #f4f4fd;
}

header {
  border-style: solid;
  border-width: 1px;
  border-color: #e7e9fc;
}

nav .ul {
  list-style-type: none;
}

nav .ul .a1 {
  color: #2e2f42;
}

nav .ul .a1:hover {
  color: #404bbf;
}

nav .ul .a1:active {
  color: #404bbf;
}

nav .ul .a {
  color: #2e2f42;
}

nav .ul .a:hover {
  color: #404bbf;
}

address .ul {
  list-style-type: none;
}

address .ul .a {
  color: #2e2f42;
}

address .ul .a:hover {
  color: #404bbf;
}

.hero-image {
  background-color: #2e2f42;
  width: 1440px;
  height: 600px;
  top: 72px;
  text-align: center;
}

.hero-image .h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 3.75;
  color: #ffffff;
}

.hero-image .button {
  cursor: pointer;
  width: 169px;
  height: 56px;
  top: 428px;
  left: 636px;
  border-radius: 4px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 1;
  line-height: 24px;
  letter-spacing: 4%;
}

.hero-image .button:hover {
  background-color: #404bbf;
}

.section-1 .ul {
  list-style-type: none;
}

.section-1 .h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.section-1 .p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.section-2 {
  background-color: #f4f4fd;
}

.section-2 .h2 {
  color: #2e2f42;
  width: 162px;
  height: 40px;
  top: 1136px;
  left: 639px;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5;
  letter-spacing: 2%;
  text-align: center;
}

.section-2 .ul {
  list-style-type: none;
}

.container {
  width: 264px;
  height: 380px;
  top: 1248px;
  left: 156px;
  border-radius: 0px, 0pxi 4px, 4px;
  padding: 0px, 0px, 32px, 0px;
}

.section-2 .h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
}

.section-2 .p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  text-align: center;
}

.section-3 .ul {
  list-style-type: none;
}

.section-3 .h2 {
  color: #2e2f42;
  width: 218px;
  height: 40px;
  top: 1868px;
  left: 611px;
  font-weight: 700;
  font-size: 36px;
  line-height: 2.5;
  letter-spacing: 2%;
  text-align: center;
}

.section-3 .h3 {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2%;
}

.section-3 .p {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}

footer {
  background-color: #2e2f42;
  width: 1440px;
  height: 312px;
  top: 2988px;
}

footer .p {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
}
